<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
        <title>{{ block "title" . }}{{ end }}</title>
    </head>
<body>
    <header class="search-container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/index">Index</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {{ block "content" . }} {{ end }}
    </div>

    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</body>
</html>
